#callsContainer {
  user-select: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#catImg {
  height: 40%;
  padding: 4vh;
  background-color: white;
  border-radius: 15px;
  transition: transform .4s;
}

#catImg:hover {
  transform: rotate(5deg) scale(0.90);
}